<div>
    <h1>Loqueate con GitHub</h1>
    <a href="/api/sessions/github"> <button>Ingresar con GitHub</button></a> 
    <br>
    <h2>No quieres usar GitHub? Puedes usar nuestros enlaces:</h2>
    <p>¿No esta registrado? <a href="/views/users/register">Registrate aqui</a></p>
    <p>¿Ya tienes cuenta con nosotros? <a href="/views/users/login">Haz login aqui</a></p>
</div>

