

/* Fuente global */
body {
  font-family: 'Roboto', sans-serif;
}

.cart-product-card .card {
  font-size: 0.9rem;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}


.cart-product-card .card-img-top {
  height: 140px; 
  width: auto;
  max-width: 80%;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.remove-from-cart-btn {
  width: 60%;
  font-size: 0.85rem;
  padding: 0.35rem;
  margin: 0.5rem auto 0 auto;
  display: block;
  border-radius: 6px;
}

.btn-logout,
.btn-continue,
.btn-buy {
  font-size: 0.20rem;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}

/* Responsive */
@media (max-width: 768px) {
  .cart-product-card .card-img-top {
    height: 120px;
  }
}

@media (max-width: 576px) {
  .cart-product-card .card-img-top {
    height: 100px;
  }
  .card-body h5 {
    font-size: 1rem;
  }
  .card-body p {
    font-size: 0.8rem;
  }
  .remove-from-cart-btn {
    font-size: 0.8rem;
    padding: 0.3rem;
  }
  .btn-logout,
  .btn-continue,
  .btn-buy {
    font-size: 0.2rem;
    padding: 0.25rem 0.45rem;
  }
}
